body{
    background:linear-gradient(darkblue, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: consolas;
    color:white;
}

p{
    border-style:groove;
    border-color: aquamarine;
    padding-left:10px;
}
h1{
    color: white;
    font-family:monospace
}

a{
    color: white;
}
#p1{
    color:lightcyan;
    border-color: gold;
    border-style: outset;
    border-radius: 10px;
    border-width:5px;
    padding-left: 10px;
    font-style: italic;
}
img{
    width: 250px;
    height: 250px;
    float: left;
}
#gp2{
    margin-left: 10px;
}
/* page 2*/

#h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: italic;
    
}
#b2{
    background-image: url(/images/nightsky.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
div{
    color: black;
}

#box1{
    border:5px solid;
    width: 250px;
    height: 250px;
    font-size: 18px;
    background-color: greenyellow;
    padding: 12px;
}

#box2{
    border:5px solid;
    width: 250px;
    height: 250px;
    font-size: 18px;
    background-color: dodgerblue;
    padding: 12px;
}

#p2{
    border:none;
    color: white;
    font-family: consolas;
    font-size: large;
}


